        body {
    background-image: url("../public_html/images/background.jpg");
            font-family: "Georgia", Times, serif;
            font-size: 12pt;
        }

        p {
        margin: 2%;
        }

        h2 {
            margin: 1%;
        }
        h1 {
            text-align: center;
        }
        dt {
            font-size: 26px;
            font-weight: bold;
        }





        .wrapper {
            display: flex;
            flex-direction: column;
            margin: 20px auto;
            width: 75%;
            max-width:1500px;
            justify-content: center;
            align-items: stretch;
            border: none;
            background: rgb(150, 198, 203);
        }



        .wrapper2 {
            width: 75%;
            display: -webkit-flex;
            display: flex;
            margin: 20px auto;
            max-width:1500px;
            flex-direction: row;
            align-items: stretch;

            -webkit-justify-content: space-between;
            justify-content: space-between;
        }
        .item3 {
             min-width: 150px;
             margin: 15px 2%;
            width:55%;
             border: none;
         }
        .item2 {
            min-width: 150px;
            margin: 15px 2%;
            width:35%;
            border: none;
        }

        .item {
            min-width: 150px;
            margin: 15px 2%;
            padding: 10px 2%;
            border: thin solid #c0c0c0;
        }


        .validator {
            float: left;
            width:7%;
            min-width:30px;
        }

        .validator img {
            width: 100%;
        }

        footer {
            background: rgb(150, 198, 203);
            min-width: 150px;
            padding: 5px 1%;
            border: thin solid #c0c0c0;
            text-align: left;
            font-size: 10px;
        }
        .link {
            color: #f5cbb4;
            font-size: 16px;
        }

        .header-image {
            width:auto;
        }

        .header-image img {
            width: 100%;
        }


        .modal-body {
            padding: 2%;


        }

        .modal-header {
            padding: 2px 16px;
            background: rgb(83, 126, 131);
            color: white;
        }

        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 90%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        .close1 {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close1:hover,
        .close1:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


        .container{
            width: 100%;
            margin: 0 auto;

        }

        #googleMapp_container{
            position: relative;
        }
        #googleMap_container{
            position: relative;
        }

        #googleMapp{
            height: 1400px;
            overflow: hidden;

            position: relative;
        }
        #googleMap{
            height: 1400px;
            overflow: hidden;

            position: relative;
        }


        #googleMap .googleMap_1{
            height: 700px;
            overflow: hidden;
            position: relative;
        }




        #map_canvas_container {position: relative;}

        #map_canvas {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}


        .image {
            float: left;
        }

        .para{
            width: 350px;
        }



        .nav {
            max-height: 25px;
            min-width: 150px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            margin: 25px 2%;

        }

        .fin {
            margin: 50px 2%;

        }

        .dummylink{



            width:50%;

            cursor: pointer;
        }
        .button_short{


            width:25%;

            border-radius: 20px;
            min-width: 150px;
            background: rgb(83, 126, 131);
            color: rgb(255, 255, 255);
            border: 2px solid #000000;
            text-align: center;
            text-decoration: none;
            font-size: 25px;
            cursor: pointer;
        }


        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }





        .button{


            width:50%;

            border-radius: 20px;

            background: rgb(83, 126, 131);
            color: rgb(255, 255, 255);
            border: 2px solid #000000;
            text-align: center;
            text-decoration: none;
            font-size: 25px;
            cursor: pointer;
        }
        .button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }


        #submit.button{
            width:100px;
            font-size: 18px;
        }


        .quote {
            padding: 25px;
            font-family: 'Dancing Script', cursive;
            color: white;
            font-size: 55px;
            text-align: center;

        }

        .author {
            font-family: 'Patua One', cursive;
            color: whitesmoke;
            font-size: 30px;
            float:right;
        }


        label{
            margin-bottom: 1em;
            display:block;
        }

        .cont{
            width: 75%;
            padding-bottom: 10px;
        }

        #comment.cont {
            padding-bottom: 60px;
            width: 75%;
        }

        input[type="text"] {
               font-size:18px;
        }
        input[type="password"] {
            font-size:18px;
        }

        ol{
            margin-right: auto;
            width: auto;
        }




        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            width:50%;
            border-radius: 20px;
            background: rgb(83, 126, 131);
            color: rgb(255, 255, 255);
            border: 2px solid #000000;
            text-align: center;
            text-decoration: none;
            font-size: 25px;
            cursor: pointer;

            position: relative;
            display: inline-block;
        }
        .dropdown:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }

        .dropdown-content {

            width:100%;
            border-radius: 20px;

            color: rgb(255, 255, 255);
            border: 2px solid #000000;
            text-align: center;
            text-decoration: none;
            font-size: 22px;
            cursor: pointer;



            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
            border-radius: 20px;
        }

        .dropdown:hover .dropdown-content {

            display: block;
            border-radius: 20px;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;

        }




        .h2 {
            font-family: Copperplate, Copperplate Gothic Light, fantasy;
            font-size: 28px;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            line-height: 5px;

        }

        @media only screen and (max-height: 1600px) {
            #googleMap{
                height: 1320px;
            }
            #googleMapp{
                height: 1400px;
            }
        }
        @media only screen and (max-height: 1200px) {
            #googleMap{
                height: 920px;
            }
            #googleMapp{
                height: 1000px;
            }
        }

        @media only screen and (max-height: 1080px) {
            #googleMap{
                height: 810px;
            }
            #googleMapp{
                height: 1050px;
            }
        }
        @media only screen and (max-height: 1050px) {
            #googleMapp{
                height: 760px;
            }
            #googleMap{
                height: 1020px;
            }
        }

        @media only screen and (max-height: 900px) {
            #googleMapp{
                height: 600px;
            }
            #googleMap{
                height: 850px;
            }
        }
        @media only screen and (max-height: 800px) {
            #googleMapp{
                height: 500px;
            }
            #googleMap{
                height: 750px;
            }
        }
        @media only screen and (max-height: 768px) {
            #googleMapp{
                height: 478px;
            }
            #googleMap{
                height: 568px;
            }
        }
        @media only screen and (max-height: 600px) {
            #googleMapp{
                height: 300px;
            }
            #googleMap{
                height: 550px;
            }
        }





        @media only screen and (max-width: 1600px) {
            .wrapper{
                width: 85%
            }
            .wrapper2{
                width: 85%
            }
        }
        @media only screen and (max-width: 1280px) {
            .wrapper {
                width: 100%
            }

            .wrapper2 {
                width: 100%
            }
        }
            @media only screen and (max-width: 762px) {
                .quote {
                    font-size: 45px;
                    padding: 20px;
                }
                .author {
                    font-size: 26px;
                }
                .button{
                    font-size: 20px;
                }
                .button_short{
                    font-size: 20px;
                }
                .dropdown{
                    font-size: 20px;
                }
                .dropdown-content {
                    font-size: 20px;
                }
                #googleMapp{
                    height: 420px;
                }
                #googleMap{
                    height: 420px;
                }
                .cont{
                    width:75%;
                }
                #comment.cont{
                    width:75%;
                }
            }

            @media only screen and (max-width: 554px) {
                .wrapper {
                    font-size: 14px;
                    width: 93%;
                    margin: 30px auto;
                }

                .item {
                    margin: 8px 2%;
                }

                .nav {
                    margin: 15px 2%;
                }

                footer {
                    margin: 8px 2%;
                }

                .link {
                    font-size: 14px;
                }

                .quote {
                    font-size: 30px;
                    padding: 15px;
                }

                .author {
                    font-size: 18px;
                }

                .button {
                     font-size: 14px;
                }
                .button_short{
                    font-size: 14px;
                }
                .dropdown {
                    font-size: 14px;
                }
                .dropdown-content {
                    font-size: 14px;
                }
                input[type="text"] {
                    font-size: 14px;
                }
                input[type="password"] {
                    font-size: 14px;
                }
                .cont{
                    padding-bottom: 8px;
                    width:100%;
                }
                #comment.cont{
                    width:100%;
                }

                #submit.button{
                    width:60px;
                    font-size: 14px;
                }
                dt {
                    font-size: 20px;
                }
                #googleMapp{
                    height: 300px;
                }
            }

            @media only screen and (max-width: 400px) {
                .wrapper{
                    font-size: 12px;
                    width: 95%;
                    margin: 20px auto;
                }
                footer {
                    margin: 8px 1%;

                }
                .nav {
                    margin: 10px 2%;
                }
                .item {
                    margin: 5px 2%;
                }
                .link {
                    font-size: 10px;
                }
                .quote {
                    font-size: 20px;
                    padding: 10px;
                }
                .author {
                    font-size: 12px;
                }
                input[type="text"]
                {
                    font-size:12px;
                }
                input[type="password"] {
                    font-size: 12px;
                }
                .cont{
                    padding-bottom: 6px;
                }

                #comment.cont {
                    padding-bottom: 20px;
                }
                #submit.button{
                    width:50px;
                    font-size: 10px;
                }
                dt {
                    font-size: 16px;
                }
                #googleMapp{
                    height: 250px;
                }
            }
            @media only screen and (max-width: 299px) {
                .wrapper{
                    font-size: 11px;
                    width: 98%;
                    margin: 10px auto;
                }
                .item {
                    margin: 3px 2%;
                }
                .nav {
                    margin: 8px 2%;
                }
                footer {
                    margin: 3px 2%;
                    padding: 0px 1%;
                }
                .link {
                    font-size: 8px;
                }
                .quote {
                    font-size: 14px;
                    padding: 5px;
                }
                .author {
                    font-size: 8px;
                }
                .button{
                    font-size: 12px;
                }
                .button_short{
                    font-size: 12px;
                }
                .dropdown {
                    font-size: 12px;
                }
                .dropdown-content {
                    font-size: 12px;
                }
                input[type="text"]
                {
                    font-size:9px;
                }
                input[type="password"] {
                    font-size: 9px;
                }
                .cont{
                    padding-bottom: 4px;
                    width:50%;
                }

                #comment.cont {
                    padding-bottom: 16px;
                    width:50%;
                }
                #submit.button{
                    width:40px;
                    font-size: 8px;
                }
                dt {
                    font-size: 14px;
                }
                #googleMapp{
                    height: 150px;
                }
            }



